.main {
    display: grid;
    grid-template-areas: "one one one"
                         "two two two"
                         "three three three"
                         "four four four"
                         "five five five"
}
.head{
    
    position: relative;
    top: 6px;
    right:6px;
}
.prgrf{
    margin: 5px;
    float:left;
}

.one{
    grid-area: one;
    background-color: rgba(191, 173, 132, 0.27);
    margin: 5 0 5 0;
    border-radius: 5px;
}
.two{
    grid-area: two;
    background-color: rgba(191, 173, 132, 0.27);
    margin: 5 0 5 0;
    border-radius: 5px; 
}
.three{
    grid-area: three;
    background-color: rgba(191, 173, 132, 0.27);
    margin: 5 0 5 0;
    border-radius: 5px; 
}
.google{
    padding: 80 0 30 35;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.icon {
    height: 38px;
    width: 38px;
    float: right;
    padding: 5 10 5 5;
}
.sup{
    min-width: 30px;
    width:584;
    border: 1px solid #f20315;
    border-radius: 24px;
    height: 40px;
    margin : 5 15 5 15;
    padding: 10 20 10 20;
}
.sub{
    background-color: #5de65d;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial;
    font-size: 14px;
    margin: 5px 15px 15px 15px ;
    padding: 0 16px;
    line-height: 27px;
    height: 40px;
    min-width: 214px;
    text-align: center;
    cursor: pointer;
}
.inptone{
    display: block;
    height: 80px;
    padding: 45px 0 0 0;
    
}
.sum{
    width: 70px;
    border: 1px solid #f20315;
    border-radius: 4px;
    height: 40px;
    text-indent: 3px;

}   

